body {
    background-color: rgb(0, 0, 0);
}

.awal {
    background-image: url(../Image/Gambar1.png);
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

