.gallery{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsKvhquP-XZIS-AdCA433zISg-TfK3lip_qA&usqp=CAU);
}
.h1manual{
    text-align: center;padding-top:0.5%;padding-bottom:0.5%;
    font-family:"Lucida Sans Unicode","Lucida Grande", sans-serif;
    color:whitesmoke;
}