.asd {
    overflow:hidden;
    margin:auto;
    padding-left:22%;
}
.kiri {
    float:left;
    font-weight: bold;
}
.tengah {
    float:left;
    font-size:20px;
}
.kanan {
    float:left;
    font-size:20px;
}