.homeaero {

    background-image: url(https://static.wixstatic.com/media/f9a3bd_698eb6f4c1a34c76a8123abcbcbd4f20~mv2.jpg/v1/fill/w_1000,h_381,al_c,q_90,usm_0.66_1.00_0.01/f9a3bd_698eb6f4c1a34c76a8123abcbcbd4f20~mv2.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .learn .bgaero{
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 25px 25px 50px 0 #EEEEEE inset, -25px -25px 50px 0 #EEEEEE inset; 
    background-image: url(https://box.ottenstatic.com/subscription-learn/bialetti/bialetti-7b.jpg);
}
.homeaero .qoutesaero{
    padding-top: 270px;
    padding-left: 10px;
    
    text-align: left;
    width: 100%;
    
    font-size: 40px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}
.kata2aero .qoutesaero   {
    font-size: 40px;
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:whitesmoke;
}